<h1>ADD A TASK</h1>

<%= render "form", task: @task %>

<%= link_to "My Tasks", tasks_path, class: 'btn btn-primary', style:"border: 1px solid black; width: auto; border-radius: 15px; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);" %>

